.example-spacer {
    flex: 1 1 auto;
  }

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pageview-icon{
    color: rgb(12, 12, 12);
    font-size: 30px;
}

.pageview-icon:hover{
    color: rgb(6, 114, 223);
    cursor: pointer;
}

#menu:active {
    background-color: #FF4081;
}

#menu:focus {
    background-color: #FF4081;
    border: #FF4081;
}

