<div style="min-height: 300px;background-color:#1c2331;width: 100%;color: aliceblue;">
   <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <div style="margin-top:20px">
                <span class="Article">Product</span>
                <div>
                    <!-- {{spec | json}} -->
                    <div *ngFor="let item of spec" style="margin: 10px;">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div style="margin-top:20px">
                <span class="Article">Contact</span>
                <br>
                
                    <mat-icon style="padding: 0px;">pin_drop</mat-icon><div class="contact">{{Footer.address}}</div>
                
                <br>
                <mat-icon>mail</mat-icon><div class="contact">{{Footer.mail}}</div>
                <br>
                <mat-icon>call</mat-icon><div class="contact">{{Footer.tel}}</div>
            </div>
        </div>
   </div>
</div>
