table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.setting-edit:hover{
  background-color: dodgerblue;
  cursor: pointer;
}


.setting-icon:hover{
  color: dodgerblue;
  cursor: pointer;
}