table {
    width: 100%;
}
  
.mat-form-field {
  font-size: 20px;
  width: 100%;
}

th{
  background-color: rgb(177, 201, 247);
}

td, th {
  font-size: 20px;
  width: 10%;
  /* text-align: center; */
}


.setting-edit:hover{
  background-color: dodgerblue;
  cursor: pointer;
}

.delete-icon:hover{
  color: rgb(250, 1, 1);
  cursor: pointer;
}

.setting-icon:hover{
  color: dodgerblue;
  cursor: pointer;
}