<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="height: 50px;">

    </div>
    <div class="col-8"  >
      <div class="card" style="width: 90%; margin-left: 60px;"> 
        
        <div class="card-body">
            <div class="card-title"><h1>ตะกร้า</h1></div>
            <hr style="height: 3px;">
          <div
            class="card"
            style="margin-top: 30px"
            *ngFor="let item of cartData?.list; index as i"
          >
            <div class="card-body card-cart">
              <div class="row">
                <div class="col-3" style="text-align: center;">
                    <img src="{{item.idProduct.img}}" style="width:120px;height: 150px;">
                </div>
                <div class="col-6">
                    <p>Model: <span style="color:#3F51B5;">{{item.idProduct.spec[0].value}}</span></p>
                    <p>Brand: <span style="color:#3F51B5;">{{item.idProduct.spec[1].value}}</span></p>
                    <p>พร้อมจำหน่ายในระบบ: <span style="color:#3F51B5;">{{item.idProduct.number}}</span></p>
                    <p><mat-icon (click)="delete(i)" class="icon-delete">delete</mat-icon></p>

                </div>
                <div class="col-3">
                        <button class="btn btn-primary" style="margin: 0 10px;" (click)="subQuantityCart(i)">-</button>
                        <div style="display: inline-block; width:90px;text-align: center;">
                            <div>จำนวน: {{item.quantity}}  </div>
                        </div>
                        <button class="btn btn-primary" style="margin: 0 10px;" (click)="plusQuantityCart(i)">+</button>
                        <div style="margin-left:40px;margin-top: 20px;"> {{item.idProduct.price * item.quantity}} บาท</div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" >
        <div class="card" style="width: 90%;">
            <div class="card-body">
              <div class="card-title"><h1>สรุปรายละเอียด</h1></div>
              <hr style="height: 3px;">

              <div style="margin-top: 40px;">
                <!-- <div>
                    <div class="div-contentname">
                        All item:
                    </div>
                    <div class="content">
                        {{CartService.AllQuantity}}
                    </div> 
                    <div class="Unit">
                        item
                    </div> 
                </div>   -->
                <div>
                    <div class="div-contentname">
                        ราคารวมทั้งหมด:
                    </div>
                    <div class="content">
                        {{summary}}
                    </div>
                    <div class="Unit">
                        บาท
                    </div>
                  </div>
                  <div>
                      <div class="div-contentname">
                        ค่าจัดส่ง: 
                      </div>
                      <div class="content">
                        {{shipping}} 
                      </div>
                      <div class="Unit">
                        บาท
                      </div>
                  </div>
              </div>
              <hr style="height: 3px;">
              <div>
                <div class="div-contentname">
                    ทั้งหมด: 
                  </div>
                  <div class="content">
                    {{summary + shipping}} 
                  </div>
                  <div class="Unit">
                    บาท
                  </div>
              </div>
              <button class="btn btn-primary" style="margin-top: 30px;" (click)="checkOutCart()">สร้างคำสั่งซื้อ</button>
            </div>
          </div>
    </div>
  </div>
</div>
