<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <mat-tab-group>
                <mat-tab label="ตรวจสอบ">
                    <app-verify-order></app-verify-order>      
                </mat-tab>
                <mat-tab label="เตรียมส่ง">
                    <app-prepare-order></app-prepare-order>
                </mat-tab>
                <mat-tab label="จัดส่งแล้ว">
                    <app-order-success></app-order-success>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-1"></div>    
    </div>
</div>