<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
 <span>IT Shop</span>  
 <span class="example-spacer"></span>
 <span style="margin-right: 20px;">{{decoded.role}} : <span style="color: yellow;">{{decoded.name}}</span></span> 
 <button mat-flat-button color="warn" (click)="logout()">log out</button>
</mat-toolbar>


<mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav [mode]="mode.value" opened>
          <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                
                <mat-panel-title>
                  <div >
                    <mat-icon class="material-icons md-36" >dashboard</mat-icon><span style="margin-left:40px;font-size: 20px;padding-bottom: 30px;">Dashboard</span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="menu-sidenav">Home</div> 
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  product
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="menu-sidenav"><a routerLink="addSpec">type of Product</a></div>
              <div class="menu-sidenav"><a routerLink="addProduct">addProduct</a></div>
              <div class="menu-sidenav"><a routerLink="stock">Stock</a></div>
              <!-- <div class="menu-sidenav"><a routerLink="tabProduct">Tab</a></div> -->
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOrderOpenState = true"
                                 (closed)="panelOrderOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Order
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="menu-sidenav"><a routerLink="addSpec">Order</a></div>
            </mat-expansion-panel>

          </mat-accordion>
          
      </mat-sidenav>
      <router-outlet></router-outlet>
</mat-sidenav-container>   
  
      
  
