<mat-toolbar fixed color="primary" >
  <img src="{{logo}}" style="width: 90px;margin: 0;padding: 0;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
 
 <span>{{nameShop}}</span>  
 <span class="example-spacer"></span>
 <span style="margin-right: 20px;">{{decoded.role}} : <span style="color: yellow;">{{decoded.name}}</span></span> 
 <button mat-flat-button color="warn" (click)="logout()">log out</button>
</mat-toolbar>


<mat-sidenav-container class="example-container" style="background-color: rgb(255, 255, 255);">
  
      <mat-sidenav #sidenav [mode]="mode.value" opened>
        <a routerLink="editContent">
          <button type="button" class="btn btn-light menu-custom" style="width: 100%;">จัดการเว็บ</button>
        </a>
        <a routerLink="order">
          <button type="button" class="btn btn-light menu-custom"  style="width: 100%;">คำสั่งซื้อ</button>
        </a>
        <a routerLink="profile">
          <button type="button" class="btn btn-light menu-custom" style="width: 100%;">ข้อมูลผู้ใช้</button>
        </a>
          <mat-accordion>
            

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  จัดการสินค้า
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="menu-sidenav"><a routerLink="addSpec">
                <button type="button" class="btn btn-light menu-custom" style="width: 100%;">ประเภทสินค้า</button>
              </a></div>
              <div class="menu-sidenav"><a routerLink="addProduct">
                <button type="button" class="btn btn-light menu-custom" style="width: 100%;">เพิ่มสินค้า</button>
              </a></div>
              <div class="menu-sidenav"><a routerLink="stock">
                <button type="button" class="btn btn-light menu-custom" style="width: 100%;">ข้อมูลสินค้า</button>
              </a></div>
              <!-- <div class="menu-sidenav"><a routerLink="tabProduct">Tab</a></div> -->
            </mat-expansion-panel>
            
          </mat-accordion>
          
          
      </mat-sidenav>
      <router-outlet></router-outlet>
</mat-sidenav-container>   
  
      
  
