.example-container {
  width: 100%;
  height:93.3%;
  
  border: 1px solid #555;
}

.menu-sidenav {
  text-align: center;
  margin: 20px;
  
}

.example-spacer {
  flex: 1 1 auto;
}

.icon-cart:hover{
  color: #FF4081;
}

.nameOfShop:hover{
  cursor: pointer;
}