<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div style="margin-top: 50px;">
            <mat-tab-group>
                <mat-tab label="รอการชำระเงิน">
                  <div class="card" style="margin: 30px 0px;">
                    <div class="card-body">
                     <h1>ช่องทางชำระเงิน</h1>
                     <p>ธนาคาร:  {{payment.bankName}}</p>
                     <p>เลขบัญชี: {{payment.accountBank}}</p>
                     <p>ชื่อบัญชี: {{payment.owner}}</p>
                    </div>
                  </div>
                    <br><br>
                    <h1>รายการสั่งซื้อ</h1> 
                    <app-slip (newItemEvent)="addItem()"></app-slip>
                    <div style="height: 50px;">

                    </div>
                </mat-tab>
                <mat-tab label="รอการตรวจสอบ"> 
                  <app-wait-to-verify-payment></app-wait-to-verify-payment>  
                </mat-tab>
                <mat-tab label="จัดส่งแล้ว"> 
                  <app-order-approve></app-order-approve>
                </mat-tab>
                <mat-tab label="ไม่ผ่านการตรวจสอบ">
                  <app-order-disapprove></app-order-disapprove>  
                </mat-tab>
                <mat-tab label="ยกเลิกแล้ว">
                  <app-cancle-order></app-cancle-order>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
