<div class="container-fluid">
    <div class="row">

      <div class="col-10" >
        <div>
            <img src="{{item.img}}"  alt="..." style="width: 200px;height: 200px;">
        </div>
        <br><br>
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Spec
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let item of item.spec">
                    <div style="width: 110px;display: inline-block;">
                        {{item.name}} 
                    </div>
                      {{item.value}}
                  </li>
                </ul>
              </div>
        </div>
        <div style="margin-top: 20px;">
          <h3>
            stock : {{item.number}}
          </h3>
        </div>
        <br><br>
        <div style="display:flex;">
            <div style="display:flex;">
                <button class="button-operater" (click)="sub()">-</button>
                <!-- <input class="form-control" type="number" oninput="validity.valid||(value='');"> -->
                <span style="width: 60px;border: 1px solid black;text-align: center;font-size: 25px;padding-top: 5px;" >{{quntity}}</span>
                <button class="button-operater"  [disabled]="checkPlusButton" (click)="plus()">+</button>   
            </div>
            <button [disabled]="checkAddToCart" type="button" class="btn btn-primary" style="margin-left: 20px;" (click)="checkState()">เพิ่มลงตะกร้าสินค้า</button>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
