
<div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Apple</option>
            <option value="2">Intel</option>
            <option value="3">AMD</option>
        </select>

        <label for="exampleFormControlInput1" class="form-label">ชื่อสินค้า</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >

        <label for="exampleFormControlInput1" class="form-label">ราคา</label>
        <input type="number" min="0" class="form-control" id="exampleFormControlInput1" >

        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>