<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-3" style="background-color: rgb(255, 255, 255)">Column</div>
    <div
      class="col-6"
      style="background-color: rgb(255, 255, 255); margin-top: 5%"
    >
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"
          >ประเภทสินค้า</label
        >
        <div class="col-sm-5" >
          <select
            class="form-select"
            style="display: inline-block;"
            aria-label="Default select example"
            #model
            [(ngModel)]="select"
            
            (change)="onChangeModel(item)"
          >
            <option *ngFor="let item of specs"  value="{{item | json}}">{{ item.name }}</option>
          </select>
         </div>
          <div class="col-sm-2">
            <div style="display: inline-block;margin-left: 3px;margin-top: 5px;">
                <mat-icon aria-hidden="false" class="setting-icon" aria-label="Example home icon" (click)="openDialogEditTypeProduct()">settings</mat-icon>
            </div>
          </div>
          
        
      </div>

      <br /><br />
      <form #myForm >
        <div *ngFor="let item of list;let i = index">
          <div class="mb-3 row" >
            <label class="col-sm-3 col-form-label">{{ item }}</label>
            
              <div class="col-sm-5" #div >
                <input type="text" #myInput class="form-control"  (change)="onChangeSubSpec(item,myInput.value,i)" />
              </div>
            
          </div>
        </div>
      </form>
      

      <div class="mb-3 row" >
        <label class="col-sm-3 col-form-label">ราคา</label>
        
          <div class="col-sm-5" >
            <input type="number" min="0" class="form-control" #myFormPrice  [(ngModel)]="product.value.price" oninput="validity.valid||(value='');"/>
          </div>
        
      </div>
      <!-- <div>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Amount</mat-label>
          <input matInput type="number" class="example-right-align" #myFormPriceMat min="0" placeholder="0" oninput="validity.valid||(value='');">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div> -->

      <br><br>
      <div>
        <input type="file" #myInputImg class="form-control-file"  (change)="onChangeImg($event)">
      </div>
      <br><br>
    
      <img *ngIf="previewLoaded" class="img-thumbnail" #dilog [src]="this.product.value.img" style="height:150px;" >
      <br><br>
      <button type="button"  (click)="submitProduct()" class="btn btn-primary">submit</button>


    </div>




    <!-- start column 3 -->
    <div class="col-3" style="background-color: rgb(255, 255, 255)">
      
      {{ product.value | json }}
      <br><br><br>
      ตัวที่จะส่งจริงๆ
      {{ techSpec | json}}

    </div>
  </div>
</div>
