
<div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-1" style="background-color: #3F51B5;"></div>
      <div class="col-10" style="height: 400px;background-color: #3F51B5;display: flex;justify-content: center;">

        <div *ngFor="let item of shopPage.img" style="display:inline-block;width:550px;margin-top: 20px;margin-left: 20px;">
          <img src="{{item}}" class="d-block w-100" alt="..." >
        </div>

      </div>
      <div class="col-1" style="background-color: #3F51B5;" ></div>
      <!-- menu select type Product -->
      
      <div class="col-2" >
        <mat-button-toggle-group style="display: block;margin-top: 50px;margin-left: 15px;" name="fontStyle" aria-label="Font Style" >
  
          <mat-button-toggle style="display: block;" (click)="FilterAll()" >All</mat-button-toggle>
            <mat-button-toggle style="display: block;" (click)="Filter(item)" *ngFor="let item of specModel">{{item.name}}</mat-button-toggle>
  
        </mat-button-toggle-group>
      </div>
      <!-- rgb(72, 94, 202) -->
      <div class="col-10" style="padding-left: 120px;background-color: #ffffff;min-height: 1000px;">
      
        <div style="margin: 20px;display: inline-block;" *ngFor="let item of filterdata">
          <div class="card" style="width: 18rem;" *ngIf="item.activeStatus !== false">
            <img src="{{item.img}}" class="card-img-top" alt="..." style="height: 300px;">
            <div class="card-body">
              <!-- <p>{{item.activeStatus | json}}</p> -->
              <p class="card-text">{{item.spec[0].name}}: {{item.spec[0].value}}</p>
              <p class="card-text">{{item.spec[1].name}}: {{item.spec[1].value}}</p>
              <p class="card-text">ราคา {{item.price}} บาท</p>
              <mat-icon class="pageview-icon" (click)="openDialog(item)">pageview</mat-icon>
            </div>
          </div>
        </div>
        
      </div>

    
    </div>
    <div style="margin: 0;">
      <i class="pi pi-check"></i>
      <app-footer-page [Footer]="FooterData" [spec]="specModel"></app-footer-page>
    </div>
  </div>