<div class="container">
  <mat-tab-group>
    <mat-tab label="ทั่วไป">
      <div class="mb-3 row" style="width: 80%;">
        <label for="inputPassword" class="fs-4 col-form-label" style="margin-top: 50px;display: inline-block"
          >ชื่อร้าน</label
        >
        <div >
          <input
            type="text"
            style="width: 90%; display: inline-block"
            class="form-control fs-4"
            [(ngModel)]="shopPage.nameShop"
          />
        </div>
        
        <div style="margin-top: 50px">
          <div class="mb-3 row">
            <div>
              <label for="inputPassword" class="col-sm-3 fs-4 col-form-label"
                >เกณฑ์การจัดส่ง</label
              >
            </div>
            <label for="inputPassword" class="col-sm-3 fs-4 col-form-label"
              >น้อยกว่า</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                style="width: 200px; display: inline-block"
                class="form-control fs-4"
                [(ngModel)]="shopPage.shipping"
              />
            </div>
            <label for="inputPassword" class="col-sm-3 fs-4 col-form-label"
              >เก็บค่าจัดส่ง</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                style="width: 200px; display: inline-block"
                class="form-control fs-4"
                [(ngModel)]="shopPage.cost_shipping"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div style="margin:30px 0 20px 0px;">
              <span class="fs-4">ข้อมูลติดต่อ</span>
            </div>

            <div>
              <div class="row contract" style="margin-bottom:12px">
                <div class="col-3 fs-4">Email</div>
                <div class="col">
                  <input class="form-control fs-4" type="text" [(ngModel)]="shopPage.mail">
                </div>
              </div>
            </div>
              
            <div>
              <div class="row contract">
                <div class="col-3 fs-4">เบอร์โทร</div>
                <div class="col">
                  <input class="form-control fs-4" type="text" [(ngModel)]="shopPage.tel" >
                </div>
              </div>
            </div>

            <div>
              <div class="row contract">
                <div class="col-3 fs-4">ที่ตั้ง</div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <input class="form-control fs-4" type="text" [(ngModel)]="shopPage.address" >
                      <!-- <button (click)="openDialog()">แก้ไข้ที่อยู่</button> -->
                      <button type="button" class="btn btn-warning" (click)="openDialog()">แก้ไข้ที่อยู่</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="mb-3 row">
          <label
            for="inputPassword"
            class="col-sm-2 fs-4 col-form-label"
          ></label>
          <button
            type="button"
            style="display: inline-block; margin-left: 30px; margin-top: 30px"
            class="col-sm-3 btn btn-primary"
            (click)="editNameShop()"
          >
            บันทึก
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="ไฮไลท์"> 
      <div class="card mb-3" *ngFor="let item of shopPage.img;let i = index;" style="max-width: 540px;background-color: #3F51B5;">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="{{item}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <p class="fs-4" style="color: #FFFFFF;">รูปลำดับที่ {{i+1}}</p>
              <button type="button" class="btn btn-danger" (click)="delete(item)">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="background-color: #BDBDBD; width: 40%;">
        <div class="card-body">
          <h5 class="card-title fs-4">กดเลือกไฟล์รูปที่ต้องการเพิ่ม</h5>
         
            <div>
              <input type="file" #myInputImg class="form-control-file"  (change)="onChangeImg($event)">
            </div>
            <img *ngIf="previewLoaded" class="img-thumbnail" [src]="addImg" style="height:150px;">
          <div style="margin-top: 50px;">
            <button type="button"  class="btn btn-primary fs-5" (click)="pushNewImg()" style="background-color: #FF4081;border-color: #FF4081;">เพิ่มรูปภาพ</button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="ช่องทางชำระเงิน">
      <app-payment-page></app-payment-page>
    </mat-tab>

  </mat-tab-group>
</div>
