<div class="card" >
    <div class="card-body">
        <!-- {{order | json}} -->
        <br>
        <p>วันที่จัดส่ง: {{ order.updateAt | date:'dd-LL-yyyy HH:mm:ss'}}</p>
        <br>
        <p *ngIf="order.paymentStatus === true">idTracking: {{order.idTracking}} </p>
        <p *ngIf="order.paymentStatus === true">บริษัทขนส่ง: {{order.expressCompany}} </p>
        <p *ngIf="order.paymentStatus === true">ที่อยู่รับสินค้า: {{order.address}}</p>
        <br>
        <h2>สินค้า</h2>
        <span *ngFor="let product of order.idCart.list">
            <div style="font-size: 20px;">{{product.idProduct.spec[0].value | json}} : {{product.quantity}} จำนวน</div>
        </span>
        <br><br>
        <div *ngIf="order.paymentStatus === true">
            <button type="button" class="btn btn-primary" (click)="openPDF()">พิมพ์ใบเสร็จ</button>
        </div>
    </div>
</div>