<div class="card" >
    <div class="card-body">
        <!-- {{order | json}} -->
        <div id="{{order._id}}">
            {{order._id}}
        <br>
        <p>วันที่จัดส่ง: {{ order.updateAt | date:'dd-LL-yyyy HH:mm:ss'}}</p>
        <br>
        <p *ngIf="order.paymentStatus === true">idTracking: {{order.idTracking}} </p>
        <p *ngIf="order.paymentStatus === true">บริษัทขนส่ง: {{order.expressCompany}} </p>
        <p *ngIf="order.paymentStatus === true">ที่อยู่รับสินค้า: {{order.address}}</p>
        <br>
        <h2>สินค้า</h2>
        <span *ngFor="let product of order.idCart.list">
            <div style="font-size: 20px;">{{product.idProduct.spec[0].value | json}} : {{product.quantity}} จำนวน</div>
        </span>
        </div>
        <br><br>
        <div *ngIf="order.paymentStatus === true">
            <a href="http://localhost:3000/pdfs/{{order._id}}.pdf" target="_blank" >
                <button type="button" class="btn btn-primary" href="">ใบกำกับสินค้า</button>
            </a>
            <br>
        </div>
    </div>
</div>